<div>
    <h2 id="page-heading">
        <span>Religious Institutes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-religious-institute" [routerLink]="['/religious-institute/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Religious Institute
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="religiousInstitutes?.length === 0">
        <span>No religiousInstitutes found</span>
    </div>
    <div class="table-responsive" *ngIf="religiousInstitutes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="churchName"><span>Church Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="churchAddress"><span>Church Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="denomination"><span>Denomination</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="headOfficeLocation"><span>Head Office Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numberChurchMembership"><span>Number Church Membership</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let religiousInstitute of religiousInstitutes ;trackBy: trackId">
                <td><a [routerLink]="['/religious-institute', religiousInstitute.id, 'view' ]">{{religiousInstitute.id}}</a></td>
                <td>{{religiousInstitute.churchName}}</td>
                <td>{{religiousInstitute.churchAddress}}</td>
                <td>{{religiousInstitute.denomination}}</td>
                <td>{{religiousInstitute.headOfficeLocation}}</td>
                <td>{{religiousInstitute.numberChurchMembership}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/religious-institute', religiousInstitute.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/religious-institute', religiousInstitute.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'religious-institute', { outlets: { popup: religiousInstitute.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
