<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-religious-institute-heading">Create or edit a Religious Institute</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_churchName">Church Name</label>
                    <input type="text" class="form-control" name="churchName" id="field_churchName"
                           formControlName="churchName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_churchAddress">Church Address</label>
                    <input type="text" class="form-control" name="churchAddress" id="field_churchAddress"
                           formControlName="churchAddress"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_denomination">Denomination</label>
                    <input type="text" class="form-control" name="denomination" id="field_denomination"
                           formControlName="denomination"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_headOfficeLocation">Head Office Location</label>
                    <input type="text" class="form-control" name="headOfficeLocation" id="field_headOfficeLocation"
                           formControlName="headOfficeLocation"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numberChurchMembership">Number Church Membership</label>
                    <input type="number" class="form-control" name="numberChurchMembership" id="field_numberChurchMembership"
                           formControlName="numberChurchMembership"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
