<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="religiousInstitute">
            <h2><span>Religious Institute</span> {{religiousInstitute.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Church Name</span></dt>
                <dd>
                    <span>{{religiousInstitute.churchName}}</span>
                </dd>
                <dt><span>Church Address</span></dt>
                <dd>
                    <span>{{religiousInstitute.churchAddress}}</span>
                </dd>
                <dt><span>Denomination</span></dt>
                <dd>
                    <span>{{religiousInstitute.denomination}}</span>
                </dd>
                <dt><span>Head Office Location</span></dt>
                <dd>
                    <span>{{religiousInstitute.headOfficeLocation}}</span>
                </dd>
                <dt><span>Number Church Membership</span></dt>
                <dd>
                    <span>{{religiousInstitute.numberChurchMembership}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/religious-institute', religiousInstitute.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
