<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hospital">
            <h2><span>Hospital</span> {{hospital.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Hospital Name</span></dt>
                <dd>
                    <span>{{hospital.hospitalName}}</span>
                </dd>
                <dt><span>Province</span></dt>
                <dd>
                    <span>{{hospital.province}}</span>
                </dd>
                <dt><span>District</span></dt>
                <dd>
                    <span>{{hospital.district}}</span>
                </dd>
                <dt><span>Ward</span></dt>
                <dd>
                    <span>{{hospital.ward}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{hospital.active}}</span>
                </dd>
                <dt><span>Religious Institute</span></dt>
                <dd>
                    <div *ngIf="hospital.religiousInstitute">
                        <a [routerLink]="['/religious-institute', hospital.religiousInstitute?.id, 'view']">{{hospital.religiousInstitute?.churchName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hospital', hospital.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
