<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="clinic">
            <h2><span>Clinic</span> {{clinic.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Clinic Name</span></dt>
                <dd>
                    <span>{{clinic.clinicName}}</span>
                </dd>
                <dt><span>Province</span></dt>
                <dd>
                    <span>{{clinic.province}}</span>
                </dd>
                <dt><span>District</span></dt>
                <dd>
                    <span>{{clinic.district}}</span>
                </dd>
                <dt><span>Ward</span></dt>
                <dd>
                    <span>{{clinic.ward}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{clinic.active}}</span>
                </dd>
                <dt><span>Religious Institute</span></dt>
                <dd>
                    <div *ngIf="clinic.religiousInstitute">
                        <a [routerLink]="['/religious-institute', clinic.religiousInstitute?.id, 'view']">{{clinic.religiousInstitute?.churchName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/clinic', clinic.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
