<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h6 class="text-right">{{message}}</h6>
        <h1 class="text-capitalize text-center">Analytics and Charts</h1>
        <h5 class="text-center">PNG Disability Statistics</h5>
        <hr/>
        <p class="text-justify">Demonstration Purposes Only</p>
    </div>
    <div class="col-md-1"></div>
</div>

<h1>Disability Types</h1>
<div style="width: 100%">
    <ngx-charts-pie-chart
        class="chart-container"
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [animations]="animations"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [explodeSlices]="explodeSlices"
        [labels]="showLabels"
        [doughnut]="doughnut"
        [arcWidth]="arcWidth"
        [gradient]="gradient"
        [tooltipDisabled]="tooltipDisabled"
        [tooltipText]="pieTooltipText"
    >
    </ngx-charts-pie-chart>
</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div style="width: 100%">
    <h1>Services Accessibility</h1>
    <ngx-charts-bar-horizontal
        class="chart-container"
        [view]="view"
        [schemeType]="schemeType"
        [results]="single1"
        [animations]="animations"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [tooltipDisabled]="tooltipDisabled"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showGridLines]="showGridLines"
        [barPadding]="barPadding"
        [roundDomains]="roundDomains"
        [roundEdges]="roundEdges"
        [xScaleMax]="xScaleMax"
        [noBarWhenZero]="noBarWhenZero"
        [showDataLabel]="showDataLabel"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"

    >
    </ngx-charts-bar-horizontal>

</div>


