<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="location">
            <h2><span>Location</span> {{location.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Village Name</span></dt>
                <dd>
                    <span>{{location.villageName}}</span>
                </dd>
                <dt><span>Ward</span></dt>
                <dd>
                    <span>{{location.ward}}</span>
                </dd>
                <dt><span>Local Level Government</span></dt>
                <dd>
                    <span>{{location.localLevelGovernment}}</span>
                </dd>
                <dt><span>District</span></dt>
                <dd>
                    <span>{{location.district}}</span>
                </dd>
                <dt><span>Province</span></dt>
                <dd>
                    <span>{{location.province}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/location', location.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
