<div>
    <h2 id="page-heading">
        <span>Disabled Individuals</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-disabled-individual" [routerLink]="['/disabled-individual/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Disabled Individual
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="disabledIndividuals?.length === 0">
        <span>No disabledIndividuals found</span>
    </div>
    <div class="table-responsive" *ngIf="disabledIndividuals?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="civilRegistrationNo"><span>Civil Registration No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gender"><span>Gender</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="religion"><span>Religion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="occupation"><span>Occupation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employer"><span>Employer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateOfBirth"><span>Date Of Birth</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estimatedAge"><span>Estimated Age</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="martialStatus"><span>Martial Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
           <!--
            <th jhiSortBy="noOfChildrenAlive"><span>No Of Children Alive</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noOfChildrenDeceased"><span>No Of Children Deceased</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noOfChildrenCongenital"><span>No Of Children Congenital</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="educationFormal"><span>Education Formal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="educationTrade"><span>Education Trade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="carerRelationship"><span>Carer Relationship</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="diffcultySeeing"><span>Diffculty Seeing</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="diffcultyHearing"><span>Diffculty Hearing</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="diffcultyWalking"><span>Diffculty Walking</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="diffcultyMemory"><span>Diffculty Memory</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="diffcultySelfCare"><span>Diffculty Self Care</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="diffcultyCommunicating"><span>Diffculty Communicating</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="causeOfDisability"><span>Cause Of Disability</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="healthServiceAvailibility"><span>Health Service Availibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="healthServiceAccessibility"><span>Health Service Accessibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="educationServiceAvailibility"><span>Education Service Availibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="educationServiceAccessibility"><span>Education Service Accessibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lawServiceAvailibility"><span>Law Service Availibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lawServiceAccessibility"><span>Law Service Accessibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="welfareServiceAvailibility"><span>Welfare Service Availibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="welfareServiceAccessibility"><span>Welfare Service Accessibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sportsServiceAvailibility"><span>Sports Service Availibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sportsServiceAccessibility"><span>Sports Service Accessibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="roadServiceAvailibility"><span>Road Service Availibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="roadServiceAccessibility"><span>Road Service Accessibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="marketServiceAvailibility"><span>Market Service Availibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="marketServiceAccessibility"><span>Market Service Accessibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bankingServiceAvailibility"><span>Banking Service Availibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bankingServiceAccessibility"><span>Banking Service Accessibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teleCommunicationServiceAvailibility"><span>Tele Communication Service Availibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teleCommunicationServiceAccessibility"><span>Tele Communication Service Accessibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="churchServiceAvailibility"><span>Church Service Availibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="churchServiceAccessibility"><span>Church Service Accessibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="memberDisabledPersonsOrganisation"><span>Member Disabled Persons Organisation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="awarenessAdvocacyProgrammeDetails"><span>Awareness Advocacy Programme Details</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="livelihood"><span>Livelihood</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="livelihoodDetails"><span>Livelihood Details</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="talents"><span>Talents</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="individualContactDetails.postalAddress"><span>Individual Contact Details</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="carerContactDetails.postalAddress"><span>Carer Contact Details</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="individualLocation.villageName"><span>Individual Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="carerLocation.villageName"><span>Carer Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
           -->
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let disabledIndividual of disabledIndividuals ;trackBy: trackId">
                <td><a [routerLink]="['/disabled-individual', disabledIndividual.id, 'view' ]">{{disabledIndividual.id}}</a></td>
                <td>{{disabledIndividual.civilRegistrationNo}}</td>
                <td>{{disabledIndividual.name}}</td>
                <td>{{disabledIndividual.gender}}</td>
                <td>{{disabledIndividual.religion}}</td>
                <td>{{disabledIndividual.occupation}}</td>
                <td>{{disabledIndividual.employer}}</td>
                <td>{{disabledIndividual.dateOfBirth | date:'medium'}}</td>
                <td>{{disabledIndividual.estimatedAge}}</td>
                <td>{{disabledIndividual.martialStatus}}</td>
                <!--
                <td>{{disabledIndividual.noOfChildrenAlive}}</td>
                <td>{{disabledIndividual.noOfChildrenDeceased}}</td>
                <td>{{disabledIndividual.noOfChildrenCongenital}}</td>
                <td>{{disabledIndividual.educationFormal}}</td>
                <td>{{disabledIndividual.educationTrade}}</td>
                <td>{{disabledIndividual.carerRelationship}}</td>
                <td>{{disabledIndividual.diffcultySeeing}}</td>
                <td>{{disabledIndividual.diffcultyHearing}}</td>
                <td>{{disabledIndividual.diffcultyWalking}}</td>
                <td>{{disabledIndividual.diffcultyMemory}}</td>
                <td>{{disabledIndividual.diffcultySelfCare}}</td>
                <td>{{disabledIndividual.diffcultyCommunicating}}</td>
                <td>{{disabledIndividual.causeOfDisability}}</td>
                <td>{{disabledIndividual.healthServiceAvailibility}}</td>
                <td>{{disabledIndividual.healthServiceAccessibility}}</td>
                <td>{{disabledIndividual.educationServiceAvailibility}}</td>
                <td>{{disabledIndividual.educationServiceAccessibility}}</td>
                <td>{{disabledIndividual.lawServiceAvailibility}}</td>
                <td>{{disabledIndividual.lawServiceAccessibility}}</td>
                <td>{{disabledIndividual.welfareServiceAvailibility}}</td>
                <td>{{disabledIndividual.welfareServiceAccessibility}}</td>
                <td>{{disabledIndividual.sportsServiceAvailibility}}</td>
                <td>{{disabledIndividual.sportsServiceAccessibility}}</td>
                <td>{{disabledIndividual.roadServiceAvailibility}}</td>
                <td>{{disabledIndividual.roadServiceAccessibility}}</td>
                <td>{{disabledIndividual.marketServiceAvailibility}}</td>
                <td>{{disabledIndividual.marketServiceAccessibility}}</td>
                <td>{{disabledIndividual.bankingServiceAvailibility}}</td>
                <td>{{disabledIndividual.bankingServiceAccessibility}}</td>
                <td>{{disabledIndividual.teleCommunicationServiceAvailibility}}</td>
                <td>{{disabledIndividual.teleCommunicationServiceAccessibility}}</td>
                <td>{{disabledIndividual.churchServiceAvailibility}}</td>
                <td>{{disabledIndividual.churchServiceAccessibility}}</td>
                <td>{{disabledIndividual.memberDisabledPersonsOrganisation}}</td>
                <td>{{disabledIndividual.awarenessAdvocacyProgrammeDetails}}</td>
                <td>{{disabledIndividual.livelihood}}</td>
                <td>{{disabledIndividual.livelihoodDetails}}</td>
                <td>{{disabledIndividual.talents}}</td>
                -->
                <td>
                    <div *ngIf="disabledIndividual.individualContactDetails">
                        <a [routerLink]="['../contact-details', disabledIndividual.individualContactDetails?.id, 'view' ]" >{{disabledIndividual.individualContactDetails?.postalAddress}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="disabledIndividual.carerContactDetails">
                        <a [routerLink]="['../contact-details', disabledIndividual.carerContactDetails?.id, 'view' ]" >{{disabledIndividual.carerContactDetails?.postalAddress}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="disabledIndividual.individualLocation">
                        <a [routerLink]="['../location', disabledIndividual.individualLocation?.id, 'view' ]" >{{disabledIndividual.individualLocation?.villageName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="disabledIndividual.carerLocation">
                        <a [routerLink]="['../location', disabledIndividual.carerLocation?.id, 'view' ]" >{{disabledIndividual.carerLocation?.villageName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/disabled-individual', disabledIndividual.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/disabled-individual', disabledIndividual.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'disabled-individual', { outlets: { popup: disabledIndividual.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
