<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-disabled-individual-heading">Create or edit a Disabled Individual</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <b style="font-size: larger;">Individual Information<br/><br/></b>
                <div class="form-group">
                    <label class="form-control-label" for="field_civilRegistrationNo">Civil Registration No</label>
                    <input type="text" class="form-control" name="civilRegistrationNo" id="field_civilRegistrationNo"
                           formControlName="civilRegistrationNo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gender">Gender</label>
                    <select class="form-control" name="gender" formControlName="gender" id="field_gender">
                        <option value="MALE">MALE</option>
                        <option value="FEMALE">FEMALE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_religion">Religion</label>
                    <input type="text" class="form-control" name="religion" id="field_religion"
                           formControlName="religion"/>
                </div>


                <div class="form-group">
                    <label class="form-control-label" for="field_dateOfBirth">Date Of Birth</label>
                    <div class="d-flex">
                        <input id="field_dateOfBirth" type="datetime-local" class="form-control" name="dateOfBirth" formControlName="dateOfBirth" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_estimatedAge">Estimated Age</label>
                    <select class="form-control" name="estimatedAge" formControlName="estimatedAge" id="field_estimatedAge">
                        <option value="LESS_THAN_18">LESS_THAN_18</option>
                        <option value="BETWEEN_18_AND_29">BETWEEN_18_AND_29</option>
                        <option value="BETWEEN_30_AND_39">BETWEEN_30_AND_39</option>
                        <option value="BETWEEN_40_AND_49">BETWEEN_40_AND_49</option>
                        <option value="BETWEEN_50_AND_59">BETWEEN_50_AND_59</option>
                        <option value="BETWEEN_60_AND_64">BETWEEN_60_AND_64</option>
                        <option value="ABOVE_65">ABOVE_65</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_martialStatus">Martial Status</label>
                    <select class="form-control" name="martialStatus" formControlName="martialStatus" id="field_martialStatus">
                        <option value="MARRIED">MARRIED</option>
                        <option value="WIDOW_WIDOWER">WIDOW_WIDOWER</option>
                        <option value="DEFACTO">DEFACTO</option>
                        <option value="DIVORCED">DIVORCED</option>
                        <option value="SEPARATED">SEPARATED</option>
                        <option value="SINGLE">SINGLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_noOfChildrenAlive">No Of Children Alive</label>
                    <input type="number" class="form-control" name="noOfChildrenAlive" id="field_noOfChildrenAlive"
                           formControlName="noOfChildrenAlive"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_noOfChildrenDeceased">No Of Children Deceased</label>
                    <input type="number" class="form-control" name="noOfChildrenDeceased" id="field_noOfChildrenDeceased"
                           formControlName="noOfChildrenDeceased"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_noOfChildrenCongenital">No Of Children Congenital</label>
                    <input type="number" class="form-control" name="noOfChildrenCongenital" id="field_noOfChildrenCongenital"
                           formControlName="noOfChildrenCongenital"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_educationFormal">Education Formal</label>
                    <input type="text" class="form-control" name="educationFormal" id="field_educationFormal"
                           formControlName="educationFormal"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_educationTrade">Education Trade</label>
                    <input type="text" class="form-control" name="educationTrade" id="field_educationTrade"
                           formControlName="educationTrade"/>
                </div>

                <b style="font-size: larger;">Employment and Livelihood<br/><br/></b>
                <div class="form-group">
                    <label class="form-control-label" for="field_occupation">Occupation</label>
                    <input type="text" class="form-control" name="occupation" id="field_occupation"
                           formControlName="occupation"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_employer">Employer</label>
                    <input type="text" class="form-control" name="employer" id="field_employer"
                           formControlName="employer"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_livelihood">Livelihood</label>
                    <select class="form-control" name="livelihood" formControlName="livelihood" id="field_livelihood">
                        <option value="EMPLOYED_FORM">EMPLOYED_FORM</option>
                        <option value="EMPLOYED_INFORMAL">EMPLOYED_INFORMAL</option>
                        <option value="SELF_EMPLOYED">SELF_EMPLOYED</option>
                        <option value="SUBSISTENCE_FARMING">SUBSISTENCE_FARMING</option>
                        <option value="CHARITY">CHARITY</option>
                        <option value="BEGGING">BEGGING</option>
                        <option value="DEPEDNDENT">DEPEDNDENT</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_livelihoodDetails">Livelihood Details</label>
                    <input type="text" class="form-control" name="livelihoodDetails" id="field_livelihoodDetails"
                           formControlName="livelihoodDetails"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_talents">Talents</label>
                    <select class="form-control" name="talents" formControlName="talents" id="field_talents">
                        <option value="LEADERSHIP">LEADERSHIP</option>
                        <option value="SPORTS">SPORTS</option>
                        <option value="MUSIC">MUSIC</option>
                        <option value="SIGN_LANGUAGE">SIGN_LANGUAGE</option>
                        <option value="HAND_CRAFTING">HAND_CRAFTING</option>
                        <option value="SCREEN_PAINTING">SCREEN_PAINTING</option>
                        <option value="TECHNICAL_SKILLS">TECHNICAL_SKILLS</option>
                        <option value="MECHANICAL_SKILLS">MECHANICAL_SKILLS</option>
                    </select>
                </div>



                <b style="font-size: larger;">Disability Information<br/><br/></b>
                <div class="form-group">
                    <label class="form-control-label" for="field_diffcultySeeing">Diffculty Seeing</label>
                    <select class="form-control" name="diffcultySeeing" formControlName="diffcultySeeing" id="field_diffcultySeeing">
                        <option value="NO">NO</option>
                        <option value="SOME">SOME</option>
                        <option value="LOT">LOT</option>
                        <option value="ENTIRELY">ENTIRELY</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_diffcultyHearing">Diffculty Hearing</label>
                    <select class="form-control" name="diffcultyHearing" formControlName="diffcultyHearing" id="field_diffcultyHearing">
                        <option value="NO">NO</option>
                        <option value="SOME">SOME</option>
                        <option value="LOT">LOT</option>
                        <option value="ENTIRELY">ENTIRELY</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_diffcultyWalking">Diffculty Walking</label>
                    <select class="form-control" name="diffcultyWalking" formControlName="diffcultyWalking" id="field_diffcultyWalking">
                        <option value="NO">NO</option>
                        <option value="SOME">SOME</option>
                        <option value="LOT">LOT</option>
                        <option value="ENTIRELY">ENTIRELY</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_diffcultyMemory">Diffculty Memory</label>
                    <select class="form-control" name="diffcultyMemory" formControlName="diffcultyMemory" id="field_diffcultyMemory">
                        <option value="NO">NO</option>
                        <option value="SOME">SOME</option>
                        <option value="LOT">LOT</option>
                        <option value="ENTIRELY">ENTIRELY</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_diffcultySelfCare">Diffculty Self Care</label>
                    <select class="form-control" name="diffcultySelfCare" formControlName="diffcultySelfCare" id="field_diffcultySelfCare">
                        <option value="NO">NO</option>
                        <option value="SOME">SOME</option>
                        <option value="LOT">LOT</option>
                        <option value="ENTIRELY">ENTIRELY</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_diffcultyCommunicating">Diffculty Communicating</label>
                    <select class="form-control" name="diffcultyCommunicating" formControlName="diffcultyCommunicating" id="field_diffcultyCommunicating">
                        <option value="NO">NO</option>
                        <option value="SOME">SOME</option>
                        <option value="LOT">LOT</option>
                        <option value="ENTIRELY">ENTIRELY</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_causeOfDisability">Cause Of Disability</label>
                    <select class="form-control" name="causeOfDisability" formControlName="causeOfDisability" id="field_causeOfDisability">
                        <option value="DISEASE">DISEASE</option>
                        <option value="ACCIDENT">ACCIDENT</option>
                        <option value="SUBSTANCE_ABUSE">SUBSTANCE_ABUSE</option>
                        <option value="PHYSICAL_ABUSE">PHYSICAL_ABUSE</option>
                        <option value="OTHERS">OTHERS</option>
                    </select>
                </div>
                <b style="font-size: larger;">Services Availability and Accessibility<br/><br/></b>
                <div class="form-group">
                    <label class="form-control-label" for="field_healthServiceAvailibility">Health Service Availibility</label>
                    <select class="form-control" name="healthServiceAvailibility" formControlName="healthServiceAvailibility" id="field_healthServiceAvailibility">
                        <option value="YES_AVAILABLE">YES_AVAILABLE</option>
                        <option value="NOT_AVAILABLE">NOT_AVAILABLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_healthServiceAccessibility">Health Service Accessibility</label>
                    <select class="form-control" name="healthServiceAccessibility" formControlName="healthServiceAccessibility" id="field_healthServiceAccessibility">
                        <option value="YES_ACCESSIBLE">YES_ACCESSIBLE</option>
                        <option value="NOT_ACCESSIBLE">NOT_ACCESSIBLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_educationServiceAvailibility">Education Service Availibility</label>
                    <select class="form-control" name="educationServiceAvailibility" formControlName="educationServiceAvailibility" id="field_educationServiceAvailibility">
                        <option value="YES_AVAILABLE">YES_AVAILABLE</option>
                        <option value="NOT_AVAILABLE">NOT_AVAILABLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_educationServiceAccessibility">Education Service Accessibility</label>
                    <select class="form-control" name="educationServiceAccessibility" formControlName="educationServiceAccessibility" id="field_educationServiceAccessibility">
                        <option value="YES_ACCESSIBLE">YES_ACCESSIBLE</option>
                        <option value="NOT_ACCESSIBLE">NOT_ACCESSIBLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lawServiceAvailibility">Law Service Availibility</label>
                    <select class="form-control" name="lawServiceAvailibility" formControlName="lawServiceAvailibility" id="field_lawServiceAvailibility">
                        <option value="YES_AVAILABLE">YES_AVAILABLE</option>
                        <option value="NOT_AVAILABLE">NOT_AVAILABLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lawServiceAccessibility">Law Service Accessibility</label>
                    <select class="form-control" name="lawServiceAccessibility" formControlName="lawServiceAccessibility" id="field_lawServiceAccessibility">
                        <option value="YES_ACCESSIBLE">YES_ACCESSIBLE</option>
                        <option value="NOT_ACCESSIBLE">NOT_ACCESSIBLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_welfareServiceAvailibility">Welfare Service Availibility</label>
                    <select class="form-control" name="welfareServiceAvailibility" formControlName="welfareServiceAvailibility" id="field_welfareServiceAvailibility">
                        <option value="YES_AVAILABLE">YES_AVAILABLE</option>
                        <option value="NOT_AVAILABLE">NOT_AVAILABLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_welfareServiceAccessibility">Welfare Service Accessibility</label>
                    <select class="form-control" name="welfareServiceAccessibility" formControlName="welfareServiceAccessibility" id="field_welfareServiceAccessibility">
                        <option value="YES_ACCESSIBLE">YES_ACCESSIBLE</option>
                        <option value="NOT_ACCESSIBLE">NOT_ACCESSIBLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sportsServiceAvailibility">Sports Service Availibility</label>
                    <select class="form-control" name="sportsServiceAvailibility" formControlName="sportsServiceAvailibility" id="field_sportsServiceAvailibility">
                        <option value="YES_AVAILABLE">YES_AVAILABLE</option>
                        <option value="NOT_AVAILABLE">NOT_AVAILABLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sportsServiceAccessibility">Sports Service Accessibility</label>
                    <select class="form-control" name="sportsServiceAccessibility" formControlName="sportsServiceAccessibility" id="field_sportsServiceAccessibility">
                        <option value="YES_ACCESSIBLE">YES_ACCESSIBLE</option>
                        <option value="NOT_ACCESSIBLE">NOT_ACCESSIBLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_roadServiceAvailibility">Road Service Availibility</label>
                    <select class="form-control" name="roadServiceAvailibility" formControlName="roadServiceAvailibility" id="field_roadServiceAvailibility">
                        <option value="YES_AVAILABLE">YES_AVAILABLE</option>
                        <option value="NOT_AVAILABLE">NOT_AVAILABLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_roadServiceAccessibility">Road Service Accessibility</label>
                    <select class="form-control" name="roadServiceAccessibility" formControlName="roadServiceAccessibility" id="field_roadServiceAccessibility">
                        <option value="YES_ACCESSIBLE">YES_ACCESSIBLE</option>
                        <option value="NOT_ACCESSIBLE">NOT_ACCESSIBLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_marketServiceAvailibility">Market Service Availibility</label>
                    <select class="form-control" name="marketServiceAvailibility" formControlName="marketServiceAvailibility" id="field_marketServiceAvailibility">
                        <option value="YES_AVAILABLE">YES_AVAILABLE</option>
                        <option value="NOT_AVAILABLE">NOT_AVAILABLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_marketServiceAccessibility">Market Service Accessibility</label>
                    <select class="form-control" name="marketServiceAccessibility" formControlName="marketServiceAccessibility" id="field_marketServiceAccessibility">
                        <option value="YES_ACCESSIBLE">YES_ACCESSIBLE</option>
                        <option value="NOT_ACCESSIBLE">NOT_ACCESSIBLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bankingServiceAvailibility">Banking Service Availibility</label>
                    <select class="form-control" name="bankingServiceAvailibility" formControlName="bankingServiceAvailibility" id="field_bankingServiceAvailibility">
                        <option value="YES_AVAILABLE">YES_AVAILABLE</option>
                        <option value="NOT_AVAILABLE">NOT_AVAILABLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bankingServiceAccessibility">Banking Service Accessibility</label>
                    <select class="form-control" name="bankingServiceAccessibility" formControlName="bankingServiceAccessibility" id="field_bankingServiceAccessibility">
                        <option value="YES_ACCESSIBLE">YES_ACCESSIBLE</option>
                        <option value="NOT_ACCESSIBLE">NOT_ACCESSIBLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_teleCommunicationServiceAvailibility">Tele Communication Service Availibility</label>
                    <select class="form-control" name="teleCommunicationServiceAvailibility" formControlName="teleCommunicationServiceAvailibility" id="field_teleCommunicationServiceAvailibility">
                        <option value="YES_AVAILABLE">YES_AVAILABLE</option>
                        <option value="NOT_AVAILABLE">NOT_AVAILABLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_teleCommunicationServiceAccessibility">Tele Communication Service Accessibility</label>
                    <select class="form-control" name="teleCommunicationServiceAccessibility" formControlName="teleCommunicationServiceAccessibility" id="field_teleCommunicationServiceAccessibility">
                        <option value="YES_ACCESSIBLE">YES_ACCESSIBLE</option>
                        <option value="NOT_ACCESSIBLE">NOT_ACCESSIBLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_churchServiceAvailibility">Church Service Availibility</label>
                    <select class="form-control" name="churchServiceAvailibility" formControlName="churchServiceAvailibility" id="field_churchServiceAvailibility">
                        <option value="YES_AVAILABLE">YES_AVAILABLE</option>
                        <option value="NOT_AVAILABLE">NOT_AVAILABLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_churchServiceAccessibility">Church Service Accessibility</label>
                    <select class="form-control" name="churchServiceAccessibility" formControlName="churchServiceAccessibility" id="field_churchServiceAccessibility">
                        <option value="YES_ACCESSIBLE">YES_ACCESSIBLE</option>
                        <option value="NOT_ACCESSIBLE">NOT_ACCESSIBLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_memberDisabledPersonsOrganisation">Member Disabled Persons Organisation</label>
                    <input type="checkbox" class="form-control" name="memberDisabledPersonsOrganisation" id="field_memberDisabledPersonsOrganisation"
                           formControlName="memberDisabledPersonsOrganisation"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_awarenessAdvocacyProgrammeDetails">Awareness Advocacy Programme Details</label>
                    <input type="text" class="form-control" name="awarenessAdvocacyProgrammeDetails" id="field_awarenessAdvocacyProgrammeDetails"
                           formControlName="awarenessAdvocacyProgrammeDetails"/>
                </div>
                <b style="font-size: larger;">Location and Contact Details (Carer)<br/><br/></b>
                <div class="form-group">
                    <label class="form-control-label" for="field_individualContactDetails">Individual Contact Details</label>
                    <select class="form-control" id="field_individualContactDetails" name="individualContactDetails" formControlName="individualContactDetails">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contactDetailsOption.id === editForm.get('individualContactDetails').value?.id ? editForm.get('individualContactDetails').value : contactDetailsOption" *ngFor="let contactDetailsOption of individualcontactdetails; trackBy: trackContactDetailsById">{{contactDetailsOption.postalAddress}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_carerContactDetails">Carer Contact Details</label>
                    <select class="form-control" id="field_carerContactDetails" name="carerContactDetails" formControlName="carerContactDetails">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contactDetailsOption.id === editForm.get('carerContactDetails').value?.id ? editForm.get('carerContactDetails').value : contactDetailsOption" *ngFor="let contactDetailsOption of carercontactdetails; trackBy: trackContactDetailsById">{{contactDetailsOption.postalAddress}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_individualLocation">Individual Location</label>
                    <select class="form-control" id="field_individualLocation" name="individualLocation" formControlName="individualLocation">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id === editForm.get('individualLocation').value?.id ? editForm.get('individualLocation').value : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.villageName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_carerLocation">Carer Location</label>
                    <select class="form-control" id="field_carerLocation" name="carerLocation" formControlName="carerLocation">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id === editForm.get('carerLocation').value?.id ? editForm.get('carerLocation').value : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.villageName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_carerRelationship">Carer Relationship</label>
                    <select class="form-control" name="carerRelationship" formControlName="carerRelationship" id="field_carerRelationship">
                        <option value="FAMILY_MEMBER">FAMILY_MEMBER</option>
                        <option value="NON_FAMILY_MEMBER">NON_FAMILY_MEMBER</option>
                        <option value="FRIEND">FRIEND</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
