<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="disabledIndividual">
            <h2><span>Disabled Individual</span> {{disabledIndividual.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Civil Registration No</span></dt>
                <dd>
                    <span>{{disabledIndividual.civilRegistrationNo}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{disabledIndividual.name}}</span>
                </dd>
                <dt><span>Gender</span></dt>
                <dd>
                    <span>{{disabledIndividual.gender}}</span>
                </dd>
                <dt><span>Religion</span></dt>
                <dd>
                    <span>{{disabledIndividual.religion}}</span>
                </dd>
                <dt><span>Occupation</span></dt>
                <dd>
                    <span>{{disabledIndividual.occupation}}</span>
                </dd>
                <dt><span>Employer</span></dt>
                <dd>
                    <span>{{disabledIndividual.employer}}</span>
                </dd>
                <dt><span>Date Of Birth</span></dt>
                <dd>
                    <span>{{disabledIndividual.dateOfBirth}}</span>
                </dd>
                <dt><span>Estimated Age</span></dt>
                <dd>
                    <span>{{disabledIndividual.estimatedAge}}</span>
                </dd>
                <dt><span>Martial Status</span></dt>
                <dd>
                    <span>{{disabledIndividual.martialStatus}}</span>
                </dd>
                <dt><span>No Of Children Alive</span></dt>
                <dd>
                    <span>{{disabledIndividual.noOfChildrenAlive}}</span>
                </dd>
                <dt><span>No Of Children Deceased</span></dt>
                <dd>
                    <span>{{disabledIndividual.noOfChildrenDeceased}}</span>
                </dd>
                <dt><span>No Of Children Congenital</span></dt>
                <dd>
                    <span>{{disabledIndividual.noOfChildrenCongenital}}</span>
                </dd>
                <dt><span>Education Formal</span></dt>
                <dd>
                    <span>{{disabledIndividual.educationFormal}}</span>
                </dd>
                <dt><span>Education Trade</span></dt>
                <dd>
                    <span>{{disabledIndividual.educationTrade}}</span>
                </dd>
                <dt><span>Carer Relationship</span></dt>
                <dd>
                    <span>{{disabledIndividual.carerRelationship}}</span>
                </dd>
                <dt><span>Diffculty Seeing</span></dt>
                <dd>
                    <span>{{disabledIndividual.diffcultySeeing}}</span>
                </dd>
                <dt><span>Diffculty Hearing</span></dt>
                <dd>
                    <span>{{disabledIndividual.diffcultyHearing}}</span>
                </dd>
                <dt><span>Diffculty Walking</span></dt>
                <dd>
                    <span>{{disabledIndividual.diffcultyWalking}}</span>
                </dd>
                <dt><span>Diffculty Memory</span></dt>
                <dd>
                    <span>{{disabledIndividual.diffcultyMemory}}</span>
                </dd>
                <dt><span>Diffculty Self Care</span></dt>
                <dd>
                    <span>{{disabledIndividual.diffcultySelfCare}}</span>
                </dd>
                <dt><span>Diffculty Communicating</span></dt>
                <dd>
                    <span>{{disabledIndividual.diffcultyCommunicating}}</span>
                </dd>
                <dt><span>Cause Of Disability</span></dt>
                <dd>
                    <span>{{disabledIndividual.causeOfDisability}}</span>
                </dd>
                <dt><span>Health Service Availibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.healthServiceAvailibility}}</span>
                </dd>
                <dt><span>Health Service Accessibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.healthServiceAccessibility}}</span>
                </dd>
                <dt><span>Education Service Availibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.educationServiceAvailibility}}</span>
                </dd>
                <dt><span>Education Service Accessibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.educationServiceAccessibility}}</span>
                </dd>
                <dt><span>Law Service Availibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.lawServiceAvailibility}}</span>
                </dd>
                <dt><span>Law Service Accessibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.lawServiceAccessibility}}</span>
                </dd>
                <dt><span>Welfare Service Availibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.welfareServiceAvailibility}}</span>
                </dd>
                <dt><span>Welfare Service Accessibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.welfareServiceAccessibility}}</span>
                </dd>
                <dt><span>Sports Service Availibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.sportsServiceAvailibility}}</span>
                </dd>
                <dt><span>Sports Service Accessibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.sportsServiceAccessibility}}</span>
                </dd>
                <dt><span>Road Service Availibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.roadServiceAvailibility}}</span>
                </dd>
                <dt><span>Road Service Accessibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.roadServiceAccessibility}}</span>
                </dd>
                <dt><span>Market Service Availibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.marketServiceAvailibility}}</span>
                </dd>
                <dt><span>Market Service Accessibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.marketServiceAccessibility}}</span>
                </dd>
                <dt><span>Banking Service Availibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.bankingServiceAvailibility}}</span>
                </dd>
                <dt><span>Banking Service Accessibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.bankingServiceAccessibility}}</span>
                </dd>
                <dt><span>Tele Communication Service Availibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.teleCommunicationServiceAvailibility}}</span>
                </dd>
                <dt><span>Tele Communication Service Accessibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.teleCommunicationServiceAccessibility}}</span>
                </dd>
                <dt><span>Church Service Availibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.churchServiceAvailibility}}</span>
                </dd>
                <dt><span>Church Service Accessibility</span></dt>
                <dd>
                    <span>{{disabledIndividual.churchServiceAccessibility}}</span>
                </dd>
                <dt><span>Member Disabled Persons Organisation</span></dt>
                <dd>
                    <span>{{disabledIndividual.memberDisabledPersonsOrganisation}}</span>
                </dd>
                <dt><span>Awareness Advocacy Programme Details</span></dt>
                <dd>
                    <span>{{disabledIndividual.awarenessAdvocacyProgrammeDetails}}</span>
                </dd>
                <dt><span>Livelihood</span></dt>
                <dd>
                    <span>{{disabledIndividual.livelihood}}</span>
                </dd>
                <dt><span>Livelihood Details</span></dt>
                <dd>
                    <span>{{disabledIndividual.livelihoodDetails}}</span>
                </dd>
                <dt><span>Talents</span></dt>
                <dd>
                    <span>{{disabledIndividual.talents}}</span>
                </dd>
                <dt><span>Individual Contact Details</span></dt>
                <dd>
                    <div *ngIf="disabledIndividual.individualContactDetails">
                        <a [routerLink]="['/contact-details', disabledIndividual.individualContactDetails?.id, 'view']">{{disabledIndividual.individualContactDetails?.postalAddress}}</a>
                    </div>
                </dd>
                <dt><span>Carer Contact Details</span></dt>
                <dd>
                    <div *ngIf="disabledIndividual.carerContactDetails">
                        <a [routerLink]="['/contact-details', disabledIndividual.carerContactDetails?.id, 'view']">{{disabledIndividual.carerContactDetails?.postalAddress}}</a>
                    </div>
                </dd>
                <dt><span>Individual Location</span></dt>
                <dd>
                    <div *ngIf="disabledIndividual.individualLocation">
                        <a [routerLink]="['/location', disabledIndividual.individualLocation?.id, 'view']">{{disabledIndividual.individualLocation?.villageName}}</a>
                    </div>
                </dd>
                <dt><span>Carer Location</span></dt>
                <dd>
                    <div *ngIf="disabledIndividual.carerLocation">
                        <a [routerLink]="['/location', disabledIndividual.carerLocation?.id, 'view']">{{disabledIndividual.carerLocation?.villageName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/disabled-individual', disabledIndividual.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
