<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="churchLeader">
            <h2><span>Church Leader</span> {{churchLeader.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{churchLeader.name}}</span>
                </dd>
                <dt><span>Designation</span></dt>
                <dd>
                    <span>{{churchLeader.designation}}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{churchLeader.phoneNumber}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{churchLeader.email}}</span>
                </dd>
                <dt><span>Religious Institute</span></dt>
                <dd>
                    <div *ngIf="churchLeader.religiousInstitute">
                        <a [routerLink]="['/religious-institute', churchLeader.religiousInstitute?.id, 'view']">{{churchLeader.religiousInstitute?.churchName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/church-leader', churchLeader.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
