<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="otherHealthService">
            <h2><span>Other Health Service</span> {{otherHealthService.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{otherHealthService.name}}</span>
                </dd>
                <dt><span>Province</span></dt>
                <dd>
                    <span>{{otherHealthService.province}}</span>
                </dd>
                <dt><span>District</span></dt>
                <dd>
                    <span>{{otherHealthService.district}}</span>
                </dd>
                <dt><span>Ward</span></dt>
                <dd>
                    <span>{{otherHealthService.ward}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{otherHealthService.active}}</span>
                </dd>
                <dt><span>Religious Institute</span></dt>
                <dd>
                    <div *ngIf="otherHealthService.religiousInstitute">
                        <a [routerLink]="['/religious-institute', otherHealthService.religiousInstitute?.id, 'view']">{{otherHealthService.religiousInstitute?.churchName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/other-health-service', otherHealthService.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
