<div>
    <h2 id="page-heading">
        <span>Other Health Services</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-other-health-service" [routerLink]="['/other-health-service/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Other Health Service
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="otherHealthServices?.length === 0">
        <span>No otherHealthServices found</span>
    </div>
    <div class="table-responsive" *ngIf="otherHealthServices?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="province"><span>Province</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="district"><span>District</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ward"><span>Ward</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="active"><span>Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="religiousInstitute.churchName"><span>Religious Institute</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let otherHealthService of otherHealthServices ;trackBy: trackId">
                <td><a [routerLink]="['/other-health-service', otherHealthService.id, 'view' ]">{{otherHealthService.id}}</a></td>
                <td>{{otherHealthService.name}}</td>
                <td>{{otherHealthService.province}}</td>
                <td>{{otherHealthService.district}}</td>
                <td>{{otherHealthService.ward}}</td>
                <td>{{otherHealthService.active}}</td>
                <td>
                    <div *ngIf="otherHealthService.religiousInstitute">
                        <a [routerLink]="['../religious-institute', otherHealthService.religiousInstitute?.id, 'view' ]" >{{otherHealthService.religiousInstitute?.churchName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/other-health-service', otherHealthService.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/other-health-service', otherHealthService.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'other-health-service', { outlets: { popup: otherHealthService.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
