<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="healthCentre">
            <h2><span>Health Centre</span> {{healthCentre.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Centre Name</span></dt>
                <dd>
                    <span>{{healthCentre.centreName}}</span>
                </dd>
                <dt><span>Province</span></dt>
                <dd>
                    <span>{{healthCentre.province}}</span>
                </dd>
                <dt><span>District</span></dt>
                <dd>
                    <span>{{healthCentre.district}}</span>
                </dd>
                <dt><span>Ward</span></dt>
                <dd>
                    <span>{{healthCentre.ward}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{healthCentre.active}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/health-centre', healthCentre.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
