<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="secondarySchool">
            <h2><span>Secondary School</span> {{secondarySchool.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{secondarySchool.name}}</span>
                </dd>
                <dt><span>Province</span></dt>
                <dd>
                    <span>{{secondarySchool.province}}</span>
                </dd>
                <dt><span>District</span></dt>
                <dd>
                    <span>{{secondarySchool.district}}</span>
                </dd>
                <dt><span>Ward</span></dt>
                <dd>
                    <span>{{secondarySchool.ward}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{secondarySchool.active}}</span>
                </dd>
                <dt><span>Religious Institute</span></dt>
                <dd>
                    <div *ngIf="secondarySchool.religiousInstitute">
                        <a [routerLink]="['/religious-institute', secondarySchool.religiousInstitute?.id, 'view']">{{secondarySchool.religiousInstitute?.churchName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/secondary-school', secondarySchool.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
