<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="technicalSchool">
            <h2><span>Technical School</span> {{technicalSchool.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{technicalSchool.name}}</span>
                </dd>
                <dt><span>Province</span></dt>
                <dd>
                    <span>{{technicalSchool.province}}</span>
                </dd>
                <dt><span>District</span></dt>
                <dd>
                    <span>{{technicalSchool.district}}</span>
                </dd>
                <dt><span>Ward</span></dt>
                <dd>
                    <span>{{technicalSchool.ward}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{technicalSchool.active}}</span>
                </dd>
                <dt><span>Religious Institute</span></dt>
                <dd>
                    <div *ngIf="technicalSchool.religiousInstitute">
                        <a [routerLink]="['/religious-institute', technicalSchool.religiousInstitute?.id, 'view']">{{technicalSchool.religiousInstitute?.churchName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/technical-school', technicalSchool.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
