<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contactDetails">
            <h2><span>Contact Details</span> {{contactDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Postal Address</span></dt>
                <dd>
                    <span>{{contactDetails.postalAddress}}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{contactDetails.phoneNumber}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{contactDetails.email}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact-details', contactDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
