<div class="row">
    <div class="col-md-3">

        <img align="center !important;" class="hipster" src="../../content/images/dfcdr_logo.jpg"/>
    </div>
    <div class="col-md-9">
        <h2>Disability, Elderly and Religious Institutes<br/>
            Data Collection and Analytics Infrastructure
        </h2>
        <p style="text-align: justify;" class="lead">The Department of Community Development and Religion, Government of
            Papua New Guinea, seeks
            to implement a comprehensive survey data collection and analytics platform to capture data on
            Persons with Disability (PWD) and the Elderly to verify, better analyze, research and report, and
            access from the Provinces and Districts to the main database system at the Department for
            Community Development and Religion office at Waigani, PNG.
            The platform in the long term seeks to appropriately inform all plans and budgets at various levels of
            Government for Disaster preparedness, mitigation and Community Based Rehabilitation (CBR)
            programs which will inclusively determine delivery of quality and sustainable services to PWDs and
            Elderly Persons, thus creating equal opportunities for their meaningful participation in all aspects of
            development.
        </p>


        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"> You are logged in as user "{{account.login}}". </span>

                <table>
                    <tr>
                        <td align="center" style="width: 33%">
                            <a routerLink="disabled-individual">
                                <img src="../../content/images/disabled.png"/>
                                <br/>
                                Persons With Disabilities</a>
                        </td>
                        <td align="center" style="width: 33%">
                            <a routerLink="religious-institute">
                                <img style="width: 128px;" src="../../content/images/church.png"/>
                                <br/>
                                Religious Institutes and Services</a>
                        </td>
                        <td align="center" style="width: 33%">
                            <a routerLink="religious-institute">
                                <img src="../../content/images/elderly.png"/>
                                <br/>
                                Elderly Data</a>
                        </td>
                    </tr>
                </table>


            </div>

            <div align="center" style="width:230px;" class="alert alert-warning" *ngSwitchCase="false">
                <img src="../../content/images/crest.png"/>
                <br/>
                <a style="text-align: center !important; margin-left: 20px;" class="alert-link"
                   (click)="login()">Login</a>
            </div>

        </div>


        <h3>Objectives</h3>

        <ul>
            <li>To maintain statistical data that will enable the opportunity to address challenges and
                constraints affecting disaster preparedness to provide the way forward for disaster response,
                budgetary and planning purposes.
            </li>
            <li>To promote, respect and protect the rights of PWDs and the Elderly and recognize their
                contributions to society.
            </li>
            <li>To end discrimination, stigma and need for emphasis of mainstreaming disability and
                aging in all aspects of development and in all sectors.
            </li>
            <li>To conduct ToT programs to Provincial Government officers and non-Government partners on the new
                standard survey form enhancing their capacity to partner and network in carrying out Provincial data
                collectors trainings.
            </li>
            <li>With emphasis on reliable and quality data, to identify and register persons with various body function
                difficulties and their needs using the standard survey form.
            </li>
            <li>Adhering to CRPD Article 31, to be used as an awareness and information tool to the general population
                so they are disability sensitized towards an inclusive society.
            </li>

        </ul>


    </div>
</div>
