<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="otherEducationService">
            <h2><span>Other Education Service</span> {{otherEducationService.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{otherEducationService.name}}</span>
                </dd>
                <dt><span>Province</span></dt>
                <dd>
                    <span>{{otherEducationService.province}}</span>
                </dd>
                <dt><span>District</span></dt>
                <dd>
                    <span>{{otherEducationService.district}}</span>
                </dd>
                <dt><span>Ward</span></dt>
                <dd>
                    <span>{{otherEducationService.ward}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{otherEducationService.active}}</span>
                </dd>
                <dt><span>Religious Institute</span></dt>
                <dd>
                    <div *ngIf="otherEducationService.religiousInstitute">
                        <a [routerLink]="['/religious-institute', otherEducationService.religiousInstitute?.id, 'view']">{{otherEducationService.religiousInstitute?.churchName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/other-education-service', otherEducationService.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
